/* ***** BEGIN LICENSE BLOCK *****
    This file is part of Chicago Bus Tracker.

    Chicago Bus Tracker is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Chicago Bus Tracker is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Chicago Bus Tracker.  If not, see <http://www.gnu.org/licenses/>.
    ***** END LICENSE BLOCK *****/
body {
	background-color: rgb(100,100,230);
}

#headerbox {
	border: solid rgb(50,50,230);
	-moz-border-radius: 50px;
	background-color: rgb(75,75,230);
	text-align: center
}

.helpbox {
	border: solid rgb(50,50,230);
	-moz-border-radius: 20px;
	background-color: rgb(95,95,230);
	
	/* top and bottom spacing */
	margin-top: 1em;
}
